<!DOCTYPE HTML>
<html lang="pl-PL" data-bs-theme="light">
    <head>
        <%- include('partials/head') %>
    </head>
    <body>

        <%- include('partials/navbar', {
            userData
        }) %>

        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="page-element">
                            <div class="element-content p-0">
                                <div class="position-relative">
                                    <div class="month-selection">
                                        <button class="prev" type="button"><span class="iconify icon" data-icon="ic:round-arrow-circle-left"></span></button>
                                        <div class="d-flex align-items-center justify-content-center gap-3" style="width:150px;">
                                            <span class="month">Grudzień</span>
                                            <span class="year">2023</span>
                                        </div>
                                        <button class="next" type="button"><span class="iconify icon" data-icon="ic:round-arrow-circle-right"></span></button>
                                    </div>
                                    <div class="dropdonw">
                                        <button class="filter-btn ms-auto" data-bs-toggle="dropdown" aria-expanded="false" type="button">
                                            <span class="iconify icon" data-icon="octicon:filter-16"></span>
                                        </button>
                                        <div class="dropdown-menu p-2" style="width:300px;">
                                            <div class="mb-3">Filtruj</div>
                                            <hr class="dropdown-divider">
                                            <label for="" class="form-label" style="font-size: 14px;">Nauczyciel</label>
                                            <select id="teachers-filter" class="form-select" aria-label="Default select example">
                                                <option value="all">Wszyscy</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class=" table-responsive">
                                    <table id="calendar" class="table table-bordered mb-0 user-select-none">
                                        <thead>
                                            <tr class="table-header">
                                                <th scope="col" class="text-center">Poniedziałek</th>
                                                <th scope="col" class="text-center">Wtorek</th>
                                                <th scope="col" class="text-center">Środa</th>
                                                <th scope="col" class="text-center">Czwartek</th>
                                                <th scope="col" class="text-center">Piątek</th>
                                                <th scope="col" class="text-center">Sobota</th>
                                                <th scope="col" class="text-center">Niedziela</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="consultation-previewModal" tabindex="-1" aria-labelledby="consultation-previewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="consultation-previewModalLabel">Szczegóły konsultacji</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column gap-3 pe-5 ps-5">
                            <div class="details-item">
                                <span class="title">Przedmiot:</span>
                                <span id="subject" class="value">Matematyka</span>
                            </div>
                            <div class="details-item">
                                <span class="title">Nauczyciel:</span>
                                <span id="teacher-name" class="value">Imię Nazwisko</span>
                            </div>
                            <div class="details-item">
                                <span class="title">Godziny:</span>
                                <span id="hours" class="value">10:00 - 11:00</span>
                            </div>
                            <div class="details-item">
                                <span class="title">Data:</span>
                                <span id="date" class="value">14.12.2023</span>
                            </div>
                            <div class="details-item">
                                <span class="title">Budynek:</span>
                                <span id="building" class="value">Budynek A</span>
                            </div>
                            <div class="details-item">
                                <span class="title">Sala:</span>
                                <span id="classroom" class="value">Sala nr 5</span>
                            </div>
                            <div class="details-item">
                                <span class="title">Liczba Miejsc:</span>
                                <span id="members-count" class="value">1/31</span>
                            </div>
                            <div class="details-item">
                                <span class="title">Opis:</span>
                                <span id="description" class="value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</span>
                            </div>
                            <button id="register-for-consultation-btn" class="btn btn-success" type="button">Zapisz się</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <% if (userData) { %>

            <%- include('partials/consultation-list', {
                userData,
                userConsultations
            }) %>
        <% } %>

        <!-- FOOTER INCLUDE -->

        <%- include('../partials/footer') %>

        <!-- SCRIPTS INCLUDE -->

        <%- include('partials/scripts', { error: messages.error, success: messages.success }) %>


        <!-- OTHER SCRIPTS -->

        <script src="/javascript/calendar.js"></script>
        
    </body>
</html>