<!DOCTYPE HTML>
<html lang="pl-PL" data-bs-theme="light">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>        

        <%- include('partials/sidebar.ejs') %>

        <div class="main-page">
            <%- include('partials/navbar.ejs', {
                userData
            }) %>
    
            <div id="main">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col">
                            <div class="page-title">
                                <span class="title">Moje Konsultacje</span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center justify-content-center mb-3">
                        <div class="col mx-auto d-flex justify-content-center">
                            <input type="month" class="form-control w-50">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="page-element">
                                <div class="header">
                                    <span>Lista moich konsultacji</span>
                                </div>
                                <div class="element-content">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-borderless mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Data</th>
                                                    <th scope="col">Godziny</th>
                                                    <th scope="col">Przedmiot</th>
                                                    <th scope="col" class="text-center">Liczba zapisanych</th>
                                                    <th scope="col" class="text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>20.12.2023</td>
                                                    <td>10:00 - 11:30</td>
                                                    <td>Matematyka</td>
                                                    <td class="text-center">10</td>
                                                    <td class="text-center">
                                                        <a href="/panel/my-consultations/123"><span class="iconify icon" data-icon="ic:outline-search"></span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../partials/footer.ejs') %>
        </div>

        <%- include('partials/scripts.ejs') %>
    </body>
</html>